<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="films.css">
</head>
<body class="body">

<div class="nav">
  <a href="index.html" class="navid">home</a>
  <a href="films.html" class="navid">Films</a>
  <a href="serie.html" class="navid">Series</a>
  <a href="profiel.html">
    <img class="profiel" src="foto's\pfp placeholder.jpg">
  </a>

</div>

<div class="poster">
  <a href="http://localhost:8888/MVC/controller/filmcontroller.php?id=1"><img src="foto's\titanic.jpg" class="poster-item"></a>

    <a href="http://localhost:8888/MVC/controller/filmcontroller.php?id=2"><img src="foto's\duncposter.webp" class="poster-item"></a>

  <a href="http://localhost:8888/MVC/controller/filmcontroller.php?id=3"><img src="foto's\jaws.jpg" class="poster-item"></a>

    <a href="http://localhost:8888/MVC/controller/filmcontroller.php?id=4"><img src="foto's\black-panther.jpg" class="poster-item"></a>
  </div>
</div>


<div class="poster">
    <a href="http://localhost:8888/MVC/controller/filmcontroller.php?id=5"><img src="foto's\oppenheimer.avif" class="poster-item"></a>

    <a href="http://localhost:8888/MVC/controller/filmcontroller.php?id=6"><img src="foto's\pulp-fiction.webp" class="poster-item"></a>

    <a href="http://localhost:8888/MVC/controller/filmcontroller.php?id=7"> <img src="foto's\1917.jpg" class="poster-item"></a>

    <a href="http://localhost:8888/MVC/controller/filmcontroller.php?id=8"><img src="foto's\us.webp" class="poster-item"></a>
</div>



</body>
</html>