* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #B2C9AB;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #829399;
    padding: 15px 0;
    padding-left: 200px;

}


.navid {
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
    color: #D0F4EA;
    text-decoration: none;


}

.poster {
    display: flex;
    justify-content: space-around;
}

.poster-item   {
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 220px;
    margin-top: 10vh;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}