<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="films.css">
</head>
<body class="body">

<div class="nav">
  <a href="index.html" class="navid">home</a>
  <a href="films.html" class="navid">Films</a>
  <a href="#" class="navid">Series</a>
</div>

<div class="poster">
  <img src="titanic.jpg" class="poster-item">

 <img src="duncposter.webp" class="poster-item">

  <img src="jaws.jpg" class="poster-item">

  <img src="black-panther.jpg" class="poster-item">
  </div>
</div>


<div class="poster">
  <img src="oppenheimer.avif" class="poster-item">

  <img src="pulp-fiction.webp" class="poster-item">

  <img src="1917.jpg" class="poster-item">

  <img src="us.webp" class="poster-item">
</div>



</body>
</html>