<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
 <link rel="stylesheet" href="style.css">
</head>
<body>

        <div class="nav">
        <a href="index.html" class="navid">home</a>
        <a href="films.html" class="navid">Films</a>
        <a href="serie.php" class="navid">Series</a>
        <a href="profiel.html" >
        <img class="profiel" src="foto\pfp placeholder.jpg">
        </a>
      </div>
        <div class="container">
            <div class="text">
                <h1>Welkom,</h1>
                <h2>Hier kun je jouw mening delen met allerlei films en series.</h2>
            </div>
            <div>
            <img class="poster" src="foto\2.jpg">
            </div>
        </div>

</body>
</html>