<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="profiel.css">
</head>
<body class="body">

<div class="nav">
  <a href="index.html" class="navid">home</a>
  <a href="films.html" class="navid">Films</a>
  <a href="serie.html" class="navid">Series</a>
  <a href="profiel.html">
    <img class="profiel" src="foto's\pfp placeholder.jpg">
  </a>
</div>



 <img src="foto's\pfp placeholder.jpg" class="poster-item">





</body>
</html>