<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="serie.css">
</head>
<body class="body">

<div class="nav">
  <a href="index.html" class="navid">home</a>
  <a href="films.html" class="navid">Films</a>
  <a href="serie.html" class="navid">Series</a>
  <a href="profiel.html">
    <img class="profiel" src="foto's\pfp placeholder.jpg">
  </a>
</div>

<div class="poster">
  <a href="http://localhost:8888/MVC/controller/seriecontroller.php?id=1"><img src="foto's\peaky.webp" class="poster-item"></a>

 <a href="http://localhost:8888/MVC/controller/seriecontroller.php?id=2"><img src="foto's\reacher.jpg" class="poster-item"></a>

  <a href="http://localhost:8888/MVC/controller/seriecontroller.php?id=3"><img src="foto's\got.jpg" class="poster-item"></a>

  <a href="http://localhost:8888/MVC/controller/seriecontroller.php?id=4"><img src="foto's\breaking.jpg" class="poster-item"></a>
  </div>
</div>


<div class="poster">
  <a href="http://localhost:8888/MVC/controller/seriecontroller.php?id=5"><img src="foto's\office.avif" class="poster-item"></a>

  <a href="http://localhost:8888/MVC/controller/seriecontroller.php?id=6"><img src="foto's\stranger.jpg" class="poster-item"></a>

  <a href="http://localhost:8888/MVC/controller/seriecontroller.php?id=7"><img src="foto's\walking.jpg" class="poster-item"></a>

  <a href="http://localhost:8888/MVC/controller/seriecontroller.php?id=8"><img src="foto's\friends.jpg" class="poster-item"></a>
</div>



</body>
</html> 	