<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="serie.css">
</head>
<body class="body">

<div class="nav">
  <a href="index.html" class="navid">home</a>
  <a href="films.html" class="navid">Films</a>
  <a href="serie.html" class="navid">Series</a>
  <a href="profiel.html">
    <img class="profiel" src="foto's\pfp placeholder.jpg">
  </a>
</div>

<div class="poster">
  <img src="foto's\peaky.webp" class="poster-item">

 <img src="foto's\reacher.jpg" class="poster-item">

  <img src="foto's\got.jpg" class="poster-item">

  <img src="foto's\breaking.jpg" class="poster-item">
  </div>
</div>


<div class="poster">
  <img src="foto's\office.avif" class="poster-item">

  <img src="foto's\stranger.jpg" class="poster-item">

  <img src="foto's\walking.jpg" class="poster-item">

  <img src="foto's\friends.jpg" class="poster-item">
</div>



</body>
</html> 	